* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* color: white; */
  background-color: rgb(244, 244, 244);
  font-family: Lato, sans-serif;
  margin-top: 0;
}

h1 {
  /* color: white; */
  font-size: 40px;
  font-family: Century,Arial,Helvetica,sans-serif;
  /* text-align: right; */
  margin: 32.5px 30px;
}

h2 {
  color: #294A98;
  font-size: 27.5px;
  margin: 10px 10px;
  align-self: center;
}

h3 {
  color: #294A98;
  font-size: 25px;
  margin: 10px 10px;
  text-align: left;
}
ul{
  list-style:none;
}
.pantalla{
  height: calc(100vh - 150px);
}
.nombre-finca-formulario {
  display: flex;
  justify-content: center;
  margin: 25px 20px;
}

.tipodoc-formulario {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  margin-left: 30%;
}

.contenedor-cabecera {
  display: flex;
  flex-wrap: wrap;
  background-color: #294A98;
}

/* Logo de videofincas */

.videofincas-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.videofincas-logo {
  width: 296.8px;
  height: 100px;
  align-items: left;
  justify-content: left;
}

.titulo-principal {
  width: auto;
  height: 100px;
  /* align-items: right; */
  justify-content: right;
}

.autocomplete-wrapper {
  text-align-last: center;
}

.contenedor-btn-guardar {
  text-align: center;
}

.btn-guardar {
  padding: 16px;
  margin: 10px;
  font-size: 14.4px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #294A98;
  color: #fff;
  text-transform: capitalize;
}

#lista-rutas {
  margin-top: 5%;
  text-align-last: center;
}

#elemento-lista-finca,
#elemento-lista-recibo,
#elemento-lista-propietario{
  margin: 30px 30px;
}

#link-finca,
#link-recibo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #294A98;
}

#link-propietario {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #294A98;
  
}

.StolzlMedium {
  color: #294A98;
  text-align-last: center;
}

.msje-descarga {
  text-align: center;
}

.mb-4 {
  color: black;
  width: auto;
}