.form-propietarios {
    padding: 25px;
    margin-left: 0;
}

.h2-propietario {
    color: #294A98;
    font-size: 20px;
    margin: 10px 10px;
    align-self: center;
}

.input-propietario {
    width: 280px;
    height: 35px;
    font-size: 14.4px;
    background-color: white;
    padding: 3.5px 8px 3.5px 4px;
    border-radius: 4px 0 0 4px;
    border: 1px solid black;
    outline: none;
    margin-left: auto;
    margin-right: 45%;
    align-self: center;
}

.input-select {
    width: 180px;
    height: 35px;
    font-size: 14.4px;
    font-family: Lato, sans-serif;
    min-width: 240px;
    padding: 3.5px 8px 3.5px 4px;
    color: black;
    outline: none;
}

.lateral-derecho{
    margin-top: 20%;
    padding-left: 150px;
}

